@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background: #ffffff; 
    --text: #2d3748; 
    --primary: #0FC4F2; 
    --secondary: #63b3ed; 
    --accent: #f97316; 
    --extra-color: #ffffff; 
    --color-primario: #3498db;
    --tamano-fuente: 16px;
    --espaciado: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #0FC4F2, #63b3ed); /* Degradado */
    color: #2d3748;
    line-height: 1.5;
}

/* Barra superior */
.top-bar {
    background-color: #ffffff;
    color: #2d3748;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar span, 
.top-bar a {
    color: #2d3748;
    text-decoration: none;
    margin: 0 20px;
}

.top-bar a:hover {
    text-decoration: underline;
}

/* Redes sociales */
.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 25px;
}

/* Contenedor principal */
main {
    padding: 40px 0;
}

/* Sección descripción */
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(45, 55, 72, 0.2);
}

.beca-header {
    margin-bottom: 20px;
    text-align: center;
}

.beca-header h1 {
    font-size: 40px;
    color: #0FC4F2;
}

.beca-header h1 span {
    font-weight: normal;
    font-size: 20px;
    color: #f97316;
}

.beca-header h2 {
    font-size: 22px;
    color: #2d3748;
    margin-top: 5px;
}

.beca-header .year {
    background-color: #0FC4F2;
    padding: 5px 10px;
    border-radius: 5px;
    color: #ffffff;
}

.text {
    flex: 1;
    margin-right: 20px;
}

.text h3 {
    font-size: 24px;
    color: #0FC4F2;
    margin-bottom: 10px;
}

.text p {
    font-size: 18px;
    color: #2d3748;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons .btn {
    display: inline-block;
    margin: 5px;
    padding: 15px 20px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.buttons .btn.red {
    background-color: #0FC4F2;
}

.buttons .btn.orange {
    background-color: #f97316;
}

.buttons .btn:hover {
    background-color: #63b3ed;
    box-shadow: 0 4px 8px rgba(45, 55, 72, 0.2);
}

.image {
    flex: 1;
    text-align: center;
}

.image img {
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(45, 55, 72, 0.2);
}

/* Información de becas */
.becas-info {
    background-color: #63b3ed;
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(45, 55, 72, 0.2);
}

.becas-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.becas-content h2 {
    font-size: 60px;
    margin: 0 20px;
}

.becas-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.becas-icons img {
    width: 90px;
    height: auto;
}

.beneficio {
    background-color: #ffffff;
    color: #2d3748;
    padding: 60px;
    border-radius: 15px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0px 8px 15px rgba(45, 55, 72, 0.1);
}

.beneficio h3 {
    font-size: 28px;
    color: #0FC4F2;
    margin-bottom: 10px;
}

.beneficio ul {
    list-style-type: none;
    padding: 0;
}

.beneficio ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.courses {
    margin-bottom: 30px;
}

.course {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px rgba(45, 55, 72, 0.1);
}

.start-button, .apply-button, .back-button {
    background-color: #0FC4F2;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.back-button {
    background-color: #f97316;
    color: #ffffff;
}

.back-button:hover {
    background-color: #63b3ed;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 55, 72, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 10px 20px rgba(45, 55, 72, 0.3);
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}

.close-button {
    float: right;
    font-size: 30px;
    cursor: pointer;
    color: #2d3748;
}

.close-button:hover {
    color: #0FC4F2;
}

.modal-title {
    color: #0FC4F2;
    font-size: 24px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-weight: bold;
    color: #2d3748;
}

form input[type="text"], form input[type="email"], form textarea, form input[type="file"] {
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #63b3ed;
    background-color: #ffffff;
    color: #2d3748;
}

form button {
    margin-top: 20px;
    background-color: #0FC4F2;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #63b3ed;
    color: #ffffff;
}

select {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #63b3ed;
    background-color: #ffffff;
    color: #2d3748;
    margin-bottom: 30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsivo */
@media (max-width: 768px) {
    .description {
        flex-direction: column;
        text-align: center;
    }

    .text {
        margin-bottom: 20px;
    }

    .becas-icons {
        flex-direction: column;
    }
}